.btn {
	background: var(--bg-btn);
	text-decoration: none;
	padding: calc(var(--gap-small) / 1.5) calc(var(--gap-small) * 2);
	font-size: var(--fz-lg);
	border-radius: var(--radius-1);
	color: var(--text-dark);
	border: none;
	cursor: pointer;
	transition: var(--transition-2);
	outline: 1px solid var(--bg-btn);

	&:focus {
		outline: 2px solid var(--bg-btn);
		outline-offset: 1px;
		filter: invert(10%);
	}

	&:hover {
		background: transparent;
		color: var(--text-primary);
	}

	&:active {
		background: var(--bg-secondary);
		color: var(--text-primary);
	}
}

.btn-invert {
	background: transparent;
	color: var(--text-primary);
	border: 1px solid var(--bg-btn);

	&:hover {
		background: var(--bg-btn);
		color: var(--text-dark);
	}
}
