.blog {
	h2 {
		font-size: var(--fz-3xl);
	}

	p {
		margin-block: 1.5rem;
	}

	code {
		background: var(--bg-secondary);
		padding: 2px 6px;
		border-radius: 4px;
		font-family: "Space Mono", "Courier New", Courier, monospace;
	}

	pre {
		background: var(--bg-secondary);
		padding: var(--gap-lg);
		border-radius: var(--radius-lg);

		code {
			background: unset;
			padding: unset;
		}
	}
}
