form{
  font-size: 1.3rem;
  margin-right: 1rem;
}

.form-container{
  display: flex;
  flex-direction: column;
}

input, textarea{
  width: 100%;
  font-size: 1.2rem;
  margin-bottom: 1em;
  color: $bg-color;
  padding: .5em;
  background-color: green;
  transition: all .1s ease-in;

  &:hover{
    background-color: rgb(200, 53, 53);
  }

  &:focus{
    outline: none;
    box-shadow: 0 0 0 .2em pink;
  }
}

.form-subtitle{
  color: rgba($color: $text-color, $alpha: .5);
}

textarea{
  min-height: 10em;
}

.submit{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#submit{
  margin-right: 0;
}