$header-footer-bg: rgba(100, 70, 68, 0.9);
$text-color: #fff;
$nav-height: 4rem;
$header-footer-font-size: 1.1rem;

$nav-list-item-pseudo-breadth: 0.1em;

header{
  position: fixed;
  height: fit-content;
  width: 100%;
  background: $header-footer-bg;
}

header nav {
  box-shadow: 0 0 10px $header-footer-bg;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $nav-height;
  position: relative;

  .logo {
    padding-left: 1rem;

    img {
      height: $nav-height * 0.7;
    }

    a:focus {
      outline: 1px solid currentColor;
    }
  }
}

.nav-list {
  display: flex;
  list-style-type: none;

  .nav-list-item {
    margin: 0 1em;
    font-size: $header-footer-font-size;
    position: relative;
    width: fit-content;

    &::before {
      content: "";
      background: $text-color;
      opacity: 0.1;
      display: block;
      position: absolute;
      height: $nav-height;
      width: $nav-list-item-pseudo-breadth;
      border-radius: 50%;
      transform: translate(-$nav-list-item-pseudo-breadth * 5, -40%);
    }

    &::after {
      content: "";
      height: $nav-list-item-pseudo-breadth * 1.2;
      width: 110%;
      background: $text-color;
      position: absolute;
      bottom: -$nav-height/3;
      left: 0;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform 0.2s ease-in;
    }

    &:hover {
      a {
        color: $text-color;
      }

      &::before {
        opacity: 0.2;
      }

      &::after {
        transform-origin: left;
        transform: scaleX(1);
      }
    }
  }

  a {
    text-decoration: none;
    color: rgba($color: $text-color, $alpha: 0.8);
    font-weight: 600;

    &:focus {
      outline-offset: $nav-list-item-pseudo-breadth * 3;
      outline: $nav-list-item-pseudo-breadth solid currentColor;
    }
  }
}

.toggler {
  width: 2rem;
  height: $nav-height;
  position: relative;
  cursor: pointer;
  display: none;

  .hamburger {
    height: $nav-list-item-pseudo-breadth;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 35%;
    background-color: $text-color;
    transition: transform 0.5s;

    &::before {
      content: "";
      height: $nav-list-item-pseudo-breadth;
      width: 100%;
      background-color: $text-color;
      display: block;
      position: absolute;
      border-radius: 35%;
      top: -$nav-list-item-pseudo-breadth * 5;
      opacity: 1;
      transition: opacity 0.1s 0.1s;
    }
    &::after {
      content: "";
      height: $nav-list-item-pseudo-breadth;
      width: 100%;
      border-radius: 35%;
      background-color: $text-color;
      display: block;
      position: absolute;
      bottom: -$nav-list-item-pseudo-breadth * 5;
      transition: transform 0.5s;
    }
  }
}

@media (max-width: 50rem) {
  header nav {
    box-shadow: unset;
  }

  .nav-list {
    flex-direction: column;
    position: absolute;
    top: 100%;
    background: $header-footer-bg;
    width: 100%;

    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.4s ease-in-out;

    .nav-list-item {
      margin: 1.3rem;
      opacity: 0;
      transition: opacity 0.2s ease-out;
    }
  }

  .toggler {
    display: block;
    margin: 0 1rem;
    transition: transform .5s;
  }

  #toggler-animation{
    transform: rotate(45deg);

    &::before{
      opacity: 0;
    }

    &::after{
      transform: rotate(90deg) translate(-25%);
    }
  }
}
