@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Patrick+Hand&family=Press+Start+2P&family=Varela+Round&display=swap");
header nav {
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4rem;
  background: rgba(100, 70, 68, 0.9);
  position: relative;
}

header nav .logo {
  padding-left: 1rem;
}

header nav .logo img {
  height: 2.8rem;
}

header nav .logo a:focus {
  outline: 1px solid currentColor;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  background: rgba(100, 70, 68, 0.9);
}

.nav-list .nav-list-item {
  margin: 0 1em;
  font-size: 1.1rem;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.nav-list .nav-list-item::before {
  content: "";
  background: #fff;
  opacity: 0.1;
  display: block;
  position: absolute;
  height: 4rem;
  width: 0.1em;
  border-radius: 50%;
  -webkit-transform: translate(-0.5em, -40%);
          transform: translate(-0.5em, -40%);
}

.nav-list .nav-list-item::after {
  content: "";
  height: 0.12em;
  width: 110%;
  background: #fff;
  position: absolute;
  bottom: -1.33333rem;
  left: 0;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

.nav-list .nav-list-item:hover a {
  color: #fff;
}

.nav-list .nav-list-item:hover::before {
  opacity: 0.2;
}

.nav-list .nav-list-item:hover::after {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.nav-list a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 600;
}

.nav-list a:focus {
  outline-offset: 0.3em;
  outline: 0.1em solid currentColor;
}

#toggler {
  display: none;
}

.toggler {
  width: 2rem;
  height: 4rem;
  position: relative;
  cursor: pointer;
  display: none;
}

.toggler .hamburger {
  height: 0.1em;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 35%;
  background-color: #fff;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.toggler .hamburger::before {
  content: '';
  height: 0.1em;
  width: 100%;
  background-color: #fff;
  display: block;
  position: absolute;
  border-radius: 35%;
  top: -0.5em;
  opacity: 1;
  -webkit-transition: opacity .1s .1s;
  transition: opacity .1s .1s;
}

.toggler .hamburger::after {
  content: '';
  height: 0.1em;
  width: 100%;
  border-radius: 35%;
  background-color: #fff;
  display: block;
  position: absolute;
  bottom: -0.5em;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

@media (max-width: 50rem) {
  nav {
    -webkit-box-shadow: unset;
            box-shadow: unset;
  }
  .nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 100%;
    width: 100%;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transition: -webkit-transform .4s ease-in-out;
    transition: -webkit-transform .4s ease-in-out;
    transition: transform .4s ease-in-out;
    transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
  }
  .nav-list .nav-list-item {
    margin: 1.3rem;
    opacity: 0;
    -webkit-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out;
  }
  .toggler {
    display: block;
    margin: 0 1rem;
  }
  #toggler:checked + .toggler .hamburger {
    -webkit-transform: rotate(45deg) translate(-50%, -50%);
            transform: rotate(45deg) translate(-50%, -50%);
  }
  #toggler:checked + .toggler .hamburger::before {
    opacity: 0;
    -webkit-transition: opacity .1s;
    transition: opacity .1s;
  }
  #toggler:checked + .toggler .hamburger::after {
    -webkit-transform: rotate(-90deg) translate(25%);
            transform: rotate(-90deg) translate(25%);
  }
  #toggler:checked ~ .nav-list {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  #toggler:checked ~ .nav-list .nav-list-item {
    opacity: 1;
    -webkit-transition: opacity .5s ease-out .3s;
    transition: opacity .5s ease-out .3s;
  }
}

:root {
  font-size: 16px;
  font-family: 'Varela Round', sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  color: #d3faf5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #001405;
}
/*# sourceMappingURL=style.css.map */