@import url('https://fonts.googleapis.com/css2?family=Bangers&family=News+Cycle:wght@700&family=Patrick+Hand&family=Varela+Round&display=swap');

@import "./header";
@import "./variables";
@import "./info";
@import "./main";
@import "./heading";
@import "./button";
@import "./footer";
@import "./contact";

:root{
  font-size: 16px;
  font-family: 'Varela Round', sans-serif;
}

*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  color: $text-color;
  box-sizing: border-box;
}

body{
  background: $bg-color;
}

p{
  padding:1rem 2rem;
  font-size: 1.2rem;
}

.large-text{
  font-size: larger;
  color: rgb(12, 121, 158);
}